/* core layout */
:root {
    --bg-start: #e8f5f4;
    --bg-end: #f4fbfd;
    --text: #33373a;
    --muted: #6b6f71;
    --accent: #2b2b2b;
}

* {
    box-sizing: border-box;
    margin: 0;
}

html,
body {
    height: 100%
}

body {
    margin: 0;
    font-family: 'Inter';
    color: var(--text);
    background: linear-gradient(107.55deg, #D9EDED 16.95%, rgba(217, 237, 237, 0) 85.96%), #F6FBFF;
}


.loader {
    width: 30px;
    height: 30px;
    border: 5px solid #FFF;
    border-bottom-color: transparent;
    border-radius: 50%;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


.page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* header */
.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 28px 56px;
}

.brand img {
    height: 40px;
}

.time {
    color: var(--muted);
    font-size: 14px;
}

/* hero */
.hero {
    margin: 20px auto 0;
    padding: 40px 24px 120px;
    text-align: center;

    display: flex;
    flex-direction: column;
    gap: 30px;
}

.texts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.hero-title {
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 80px;
    /* or 100% */
    text-align: center;
    letter-spacing: -0.04em;

    /* Grey -> Dark gradient */
    background: linear-gradient(180deg, #4A4A4A 0%, #252525 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}


.hero-sub {
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 36px;
    text-align: center;
    letter-spacing: -0.04em;
    width: 100%;
    max-width: 900px;

    /* Dark/Dark Stroke */
    color: #4A4A4A;


    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;

}

/* form */
.notify-form {
    display: flex;
    justify-content: center;
}

.input-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    align-items: center;
    padding: 10px;

    width: 700px;

    /* Light/Light bg */
    background: #F6FBFF;
    box-shadow: 0px 167px 67px rgba(0, 0, 0, 0.01), 0px 94px 58px rgba(0, 0, 0, 0.05), 0px 10px 23px rgba(0, 0, 0, 0.1);
    border-radius: 100px;

    /* Inside auto layout */
    flex: none;
    order: 2;
    flex-grow: 0;

}

.input-wrap input[type="email"] {
    border: none;
    outline: 0;
    flex: 1 1 auto;
    height: 100%;
    width: 100%;
    padding: 9px 10px 9px 30px;

    background-color: #ffffff00;

    margin: 0 auto;
    border-radius: 100px;

    font-style: normal;
    font-weight: 500;
    font-size: 25px;

    color: rgba(37, 37, 37, 0.75);
}

.input-wrap input::placeholder {
    margin: 0 auto;

    font-style: normal;
    font-weight: 500;
    font-size: 25px;

    color: rgba(37, 37, 37, 0.75);

}


.btn {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 50px;
    gap: 10px;

    margin: 0 auto;

    background: linear-gradient(180deg, #4A4A4A 0%, #252525 100%);
    border: 4px solid #4A4A4A;
    box-shadow: inset 0px 0px 11px 4px #252525;
    border-radius: 100px;

    flex: none;
    order: 1;
    flex-grow: 0;

    color: #F6FBFF;
    font-size: 25px;

    transition: all 0.3s ease-in-out;
}

.btn:active {
    transform: scale(.99)
}

/* footer */
.site-footer {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 36px 56px;
    color: var(--muted);
    font-size: 14px;
}

.author {
    font-weight: 600;
    color: var(--text)
}



@media (max-width:1280px) {

    .site-header,
    .site-footer {
        padding: 18px 28px;
    }

    .loader {
        width: 25px;
        height: 25px;
        border-width: 4px;
    }

    .hero-title {
        font-size: 68px;
        line-height: 65px;
    }

    .brand img {
        height: 36px;
    }

    .hero-sub {
        font-size: 24px;
        line-height: 32px;
        max-width: 870px;
    }

    .input-wrap {
        flex-direction: row;
        gap: 0;
        padding: 8px;
        border-radius: 60px;
        width: 100%;

        max-width: 700px;
    }

    .input-wrap input[type="email"] {
        font-size: 23px;
        line-height: 26px;

        padding: 10px 25px;
    }

    .input-wrap input::placeholder {
        font-size: 23px;
        line-height: 26px;
    }

    .btn {
        padding: 10px 40px;

        border: 4px solid #4A4A4A;

        font-size: 20px;
        line-height: 21px;

    }
}




/* responsiveness */
@media (max-width:880px) {

    .site-header,
    .site-footer {
        padding: 18px 28px;
    }

    .hero-title {
        font-size: 52px;
        line-height: 1.03;
    }

    .loader {
        width: 22px;
        height: 22px;
        border-width: 4px;
    }

    .brand img {
        height: 32px;
    }

    .hero-sub {
        font-size: 20px;
        line-height: 20px;
        max-width: 550px;
    }

    .input-wrap {
        flex-direction: row;
        gap: 0;
        padding: 6px;
        border-radius: 60px;
        width: 100%;
    }

    .input-wrap input[type="email"] {
        font-size: 20px;
        line-height: 22px;

        padding: 10px 18px;
    }

    .input-wrap input::placeholder {
        font-size: 20px;
        line-height: 22px;
    }

    .btn {
        padding: 8px 30px;

        border: 4px solid #4A4A4A;

        font-size: 20px;
        line-height: 21px;

    }
}

@media (max-width:480px) {
    .hero-title {
        font-size: 36px;
        line-height: 1.02;
    }

    .brand img {
        height: 24px;
    }

    .loader {
        width: 18px;
        height: 18px;
        border-width: 3px;
    }


    .hero-sub {
        font-size: 16px;
        line-height: 20px;
    }

    .input-wrap {
        flex-direction: row;
        gap: 0;
        padding: 4px;
        border-radius: 60px;
        width: 100%;
    }

    .input-wrap input[type="email"] {
        font-size: 18px;
        line-height: 22px;

        padding: 9px 15px;
    }

    .input-wrap input::placeholder {
        font-size: 18px;
        line-height: 22px;
    }

    .btn {
        padding: 6px 26px;

        border: 3px solid #4A4A4A;

        font-size: 16px;
        line-height: 21px;

    }
}

/* small accessibility helper */
.sr-only {
    position: absolute;
    left: -9999px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden
}












/* Some animation */


.btn:hover {
    box-shadow: inset 0px 0px 11px 10px #252525;
    color: #f6fbffd3;
}